<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UILabelDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88563A631D864F6C00B4EA30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88563A7C1D864F6C00B4EA30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88563A871D864F6C00B4EA30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
